/*=================================
	COLORS
==================================*/

/*============= dark =============*/
body.dark {
	background-color: #444;
}

body.dark #container {
	border-color: #CDCDCD;
	background-color: #EFEFEF;
}

body.dark nav {
	background-color: #C7C7C7;
}

body.dark nav a {
	color: #006B8F;
}

body.dark nav a.active {
	color: white;
	background-color: #8D8D8D;
}

body.dark nav a.active:hover {
	color: white;
}

body.dark nav a:hover {
	color: black;
	background-color: #AAA;
}

body.dark #settings+h6 {
	background-color: #C7C7C7;
}

body.dark #settings+h6 a {
	color: #006B8F;
}

/*body.minimal #settings+h6 a:hover {
	text-decoration: none;
	color: #66A3FF;
}*/

body.dark h2 {
	margin-bottom: 1.5rem;
	border-bottom-color: #9E9E9E;
}

body.dark blockquote {
	background-color: #D8D8D8;
}

body.dark blockquote p {
	color: #4E4E4E;
}

body.dark blockquote:before, 
body.dark blockquote:after {
	color: #ADADAD;
}

body.dark a[title="anchor"]:hover {
	background-color: inherit !important;
}

body.dark #footnotePopup {
	background-color: white;
	border-color: #626262;
}

body.dark hr {
	border-color: #9E9E9E;
}

body.dark .center img {
	background-color: #DBDBDB;
}

body.dark .pagination {
	background-color: #C7C7C7;
	/*border: 1px solid #DA9837;*/
}

body.dark .pagination ul {
	background-color: #C7C7C7;
	border-color: #DA9837;
}

body.dark .pagination ul li {
	list-style: none;
	padding: 0;
}

body.dark .pagination, body.dark .pagination ul li a {
	color: #006B8F;
	border: none;
}

body.dark .pagination.active, body.dark .pagination.active ul li a {
	color: #006B8F;
}

body.dark .pagination ul li a:hover {
	color: black;
}

body.dark .pagination ul {
	border-color: #777;
}

/*============= light =============*/
body.light {
	background-color: #DDD;
}

body.light #container {
	border-color: #CDCDCD;
}

body.light nav {
	background-color: #DFDFDF;
}

body.light nav a.active {
	background-color: #B4B4B4;
}

body.light nav a:hover {
	background-color: #CFCFCF;
}

body.light #settings+h6 {
	background-color: #DFDFDF;
	border-bottom: 1px solid #DDD;
}

body.light h2 {
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #CCC;
}

body.light #container {
	background-color: #FFF;
}

body.light blockquote {
	background-color: #E9E9E9;
}

body.light blockquote:before, 
body.light blockquote:after {
	color: #BBB;
}

body.light a[title="anchor"]:hover {
	background-color: inherit !important;
}

body.light #footnotePopup {
	background-color: white;
	border-color: #CCC;
}

body.light hr {
	border-color: #CCC;
}

body.light .center img {
	background-color: #e9e9e9;
}

body.light .pagination {
	background-color: #DFDFDF;
}

body.light .pagination ul {
	background-color: #DFDFDF;
	border-color: #DA9837;
}

body.light .pagination ul li {
	list-style: none;
	padding: 0;
}

body.light .pagination, body.light .pagination ul li a {
	color: #006B8F;
	border: none;
}

body.light .pagination.active, body.light .pagination.active ul li a {
	color: #006B8F;
}

body.light .pagination ul li a:hover {
	color: black;
	background-color: #B4B4B4;
}

body.light .pagination ul {
	border-color: #909090;
}

/*============= minimal =============*/
body.minimal {
	background-color: #e1e1e1;
}

body.minimal #container {
	border-color: #CDCDCD;
	border-bottom: 1px solid;
}

body.minimal nav {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #DDD;
	background-color: none;
	background: none;
}

body.minimal nav+nav {
	border-top: none;
}

body.minimal nav a.active {
	color: black;
	background-color: none;
	background: none;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #DDD;
}

body.minimal nav a:hover {
	color: #66A3FF; /* C06817, 808080 */
	background-color: none;
	background: none;
}

body.minimal #settings+h6 {
	background: none;
	border-bottom: 1px solid #DDD;
}

body.minimal #settings+h6 a:hover {
	text-decoration: none;
	color: #66A3FF;
}

body.minimal h2 {
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #CCC;
}

body.minimal #container {
	background-color: #FFF;
}

body.minimal blockquote {
	background-color: #F0F0F0;
}

body.minimal blockquote:before, 
body.minimal blockquote:after {
	color: #BBB;
}

body.minimal a[title="anchor"]:hover {
	color: #66A3FF;
	background-color: inherit !important;
}

body.minimal #footnotePopup {
	background-color: white;
	border-color: #CCC;
}

body.minimal hr {
	border-color: #CCC;
}

body.minimal .center img {
	background-color: #e9e9e9;
}

body.minimal .pagination {
	background-color: white;
	border-color: #DFDFDF;
}

body.minimal .pagination ul {
	background-color: white;
	border-color: #C2C2C2;
}

body.minimal .pagination ul li {
	list-style: none;
	padding: 0;
}

body.minimal .pagination, body.minimal .pagination ul li a {
	color: #008cba;
}

body.minimal .pagination.active, body.minimal .pagination.active ul li a {
	color: #008cba;
}

body.minimal .pagination ul li a:hover {
	color: #66A3FF;
	/*border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;*/
	background-color: #F0F0F0;
}

/*============= theBlues =============*/
body.theBlues {
	background-color: slategrey;
}

body.theBlues #container {
	border-color: #CDCDCD;
	background-color: #EFEFEF;
}

body.theBlues nav {
	background-color: #B9C9D3;
}

body.theBlues nav a {
	color: #006B8F;
}

body.theBlues nav a.active {
	color: white;
	background-color: #4C7596;
}

body.theBlues nav a.active:hover {
	color: white;
}

body.theBlues nav a:hover {
	color: black;
	background-color: #8EA9BE; /* 839FB6, 8EA9BE */
}

body.theBlues h2 {
	margin-bottom: 1.5rem;
	border-bottom-color: #9E9E9E;
}

body.theBlues blockquote {
	background-color: #D8D8D8;
}

body.theBlues blockquote p {
	color: #4E4E4E;
}

body.theBlues blockquote:before, 
body.theBlues blockquote:after {
	color: #ADADAD;
}

body.theBlues a[title="anchor"]:hover {
	color: #0A487A; /* 0C4C80, 0A487A */
	background-color: inherit !important;
}

body.theBlues #footnotePopup {
	background-color: white;
	border-color: #626262;
}

body.theBlues hr {
	border-color: #9E9E9E;
}

body.theBlues .center img {
	background-color: #C3CED5; /* C2CDD4, C3CED5 */
}

body.theBlues h1, body.theBlues h2, body.theBlues, h3, body.theBlues h4, body.theBlues h5, body.theBlues h6 {
	color: #204B6D; /* 224B6D, 204B6D */
}

body.theBlues .pagination {
	background-color: #B9C9D3;
	border: none;
}

body.theBlues .pagination ul {
	background-color: #B9C9D3;
	border-color: #849CB0;
}

body.theBlues .pagination ul li {
	list-style: none;
	padding: 0;
}

body.theBlues .pagination, body.theBlues .pagination ul li a {
	color: #006B8F;
}

body.theBlues .pagination.active, body.theBlues .pagination.active ul li a {
	color: #006B8F;
}

body.theBlues .pagination ul li a:hover {
	color: white;
	background-color: #4C7596;
}

/*============= heroic =============*/
body.heroic {
	color: black; /* 4B6D7A, 425168, 363F4C */
	background-color: #212121;
}

body.heroic #container {
	border-color: #D8A933;
	background-color: #E6E4F2; /* EBEAF6, E4E2F0, e8e7f1, E6E4F2 */
	border-radius: 0 !important;
}

body.heroic #settings+h6 {
	color: #E69A30;
	background-color: #454545;
}

body.heroic #settings+h6:before {
	color: #D69D5F;
}

body.heroic #settings+h6 a {
	color: #FFB348;
}

body.heroic nav {
	background-color: #454545;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #DA9837; /* DBA941, D8A933, DA9837, 376BDA, 3751DA */
}

body.heroic nav a {
	color: #FAAE44;
}

body.heroic nav a.active {
	color: white;
	background-color: #DFA134; /* C59F28, C59328 */
}

body.heroic nav a.active:hover {
	color: white;
	background-color: #C58D2A;
}

body.heroic nav a:hover {
	color: #FFBC5D;
	background-color: #515B65; /* 5D5439, 98854E, 8D631A, 5B6A70, 54606D, 866D40, 866440, 515B65 */
}

body.heroic h1 {
	font-size: 3rem;
}

body.heroic h2 {
	margin-bottom: 1.5rem;
	border-bottom-color: #3F597A; /* 3B5373, 3F597A */
}

body.heroic blockquote {
	background-color: #D8D8D8;
}

body.heroic blockquote p {
	color: #4E4E4E;
}

body.heroic blockquote:before, 
body.heroic blockquote:after {
	color: #ADADAD;
}

body.heroic a[title="anchor"]:hover {
	color: #FFBC5D; /* 0C4C80, 0A487A */
	background-color: inherit !important;
}

body.heroic #footnotePopup {
	background-color: white;
	border-color: #626262;
}

body.heroic hr {
	border-color: #3F597A;
}

body.heroic .center img {
	background-color: #454545; /* C2CDD4, C3CED5 */
}

body.heroic h1, body.heroic h2, body.heroic h3, body.heroic h4, body.heroic h5, body.heroic h6 {
	color: #004364; /* 253D5E, 005580, 004365, 004364 */
}

/*==================== end of colors */

body {
	background-color: #444;
}

body.minimal #container {
	margin-bottom: 0;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #CDCDCD;
	box-shadow: none;
	border-radius: 0;
}

nav {
	margin-left: -45px;
	margin-right: -45px;
	padding: 0px 45px;
	margin-bottom: 30px;
	background-color: #DFDFDF;
	*zoom: 1;
}

nav+nav {
	margin-top: -30px;
	border-top: 1px solid #969696;
}

#settings+nav {
	margin-top: -20px;
}

#settings+h6 {
	margin-top: -20px;
	margin-left: -45px;
	margin-right: -45px;
	margin-bottom: 20px;
	padding: 8px 45px;
	font-size: 0.9rem;
	background-color: #B9C9D3;
}

#settings+h6:before {
	content: "»";
	display: inline-block;
	font-size: 1.3em;
	line-height: 0;
	margin-right: 6px;
}

nav a.active {
	color: white;
	background-color: #B4B4B4; /* 9A9A9A, B4B4B4 */
}

nav:before, nav:after {
	content: " ";
	display: table;
}

nav:after {
	clear: both;
}

nav a {
	display: block;
	float: left;
	padding: 15px;
	-webkit-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}

nav a:first-child {
	margin-left: -15px;
}

nav a:hover {
	text-decoration: none;
	background-color: #CFCFCF;
}

#selector.toggle {
	position: absolute;
	top: 30px;
	right: 0;
	opacity: 0.2;
	cursor: pointer;
	-webkit-transition: all 0.17s ease-in-out;
	transition: all 0.17s ease-in-out;
}

#selector.toggle:hover {
	opacity: 0.7;
}

.mark-settings-trigger {
	width: 40px;
	height: 33px;
	z-index: 10;
}

#settings {
	position: absolute;
	top: 55px;
	right: -15px;
	padding: 10px;
	border: 2px solid #CCC;
	border-radius: 6px;
	width: auto;
	opacity: 0;
	background-color: white;
	-webkit-transition: all 0.17s ease-in-out;
	transition: all 0.17s ease-in-out;
	-webkit-transform: scale(1, 0);
	-moz-transform: scale(1, 0);
	transform: scale(1, 0);
	z-index: 99;
}

#settings.active {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
}

#themeSelection {
	margin-bottom: -4px;
}

#themeSelection button {
	margin-bottom: 4px;
}

#settings h4 {
	color: #666;
	border-bottom: 1px solid #666;
}

#settings h6 {
	padding-bottom: 5px;
	border-bottom: 1px solid #B9B9B9;
}

#settings h6 #currentNav, #settings h6 #currentPagination {
	font-weight: normal;
	font-size: 0.9em;
}

#settings .section-title {
	margin-top: 30px;
	padding-bottom: 5px;
	border-bottom: 1px solid #B9B9B9;
}

#settings .block {
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(244, 244, 244);
	background-color: #959595;
}

#settings ol {
	margin-left: 35px;
	margin-bottom: 0;
}

#settings ol li {
	position: relative;
}

.mpc-close-btn { 
	display: inline-block;
	margin-bottom: -2px;
	font-size: 1.5rem;
	line-height: 0;
	cursor: pointer;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20%20%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20%20%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20%20%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%20%20%20width%3D%2215%22%20%20%20height%3D%2215%22%20%20%20id%3D%22svg3908%22%20%20%20version%3D%221.1%22%20%20%20inkscape%3Aversion%3D%220.48.2%20r9819%22%20%20%20sodipodi%3Adocname%3D%22cancel-btn-red.svg%22%3E%20%20%3Cdefs%20%20%20%20%20id%3D%22defs3910%22%20%2F%3E%20%20%3Csodipodi%3Anamedview%20%20%20%20%20id%3D%22base%22%20%20%20%20%20pagecolor%3D%22%23ffffff%22%20%20%20%20%20bordercolor%3D%22%23666666%22%20%20%20%20%20borderopacity%3D%221.0%22%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%20%20%20%20%20inkscape%3Azoom%3D%2231.392433%22%20%20%20%20%20inkscape%3Acx%3D%228%22%20%20%20%20%20inkscape%3Acy%3D%228%22%20%20%20%20%20inkscape%3Acurrent-layer%3D%22layer1%22%20%20%20%20%20showgrid%3D%22true%22%20%20%20%20%20inkscape%3Agrid-bbox%3D%22true%22%20%20%20%20%20inkscape%3Adocument-units%3D%22px%22%20%20%20%20%20inkscape%3Awindow-width%3D%221328%22%20%20%20%20%20inkscape%3Awindow-height%3D%22855%22%20%20%20%20%20inkscape%3Awindow-x%3D%2259%22%20%20%20%20%20inkscape%3Awindow-y%3D%220%22%20%20%20%20%20inkscape%3Awindow-maximized%3D%220%22%20%2F%3E%20%20%3Cmetadata%20%20%20%20%20id%3D%22metadata3913%22%3E%20%20%20%20%3Crdf%3ARDF%3E%20%20%20%20%20%20%3Ccc%3AWork%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%20%20%20%20%20%20%20%20%3Cdc%3Atype%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%20%2F%3E%20%20%20%20%20%20%20%20%3Cdc%3Atitle%3E%3C%2Fdc%3Atitle%3E%20%20%20%20%20%20%3C%2Fcc%3AWork%3E%20%20%20%20%3C%2Frdf%3ARDF%3E%20%20%3C%2Fmetadata%3E%20%20%3Cg%20%20%20%20%20id%3D%22layer1%22%20%20%20%20%20inkscape%3Alabel%3D%22Layer%201%22%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%20%20%20%20%20transform%3D%22translate(0%2C-1)%22%3E%20%20%20%20%3Cpath%20%20%20%20%20%20%20id%3D%22path3923%22%20%20%20%20%20%20%20d%3D%22m%207.5277951%2C1.0379475%20c%20-4.1394528%2C0%20-7.49476553%2C3.3553127%20-7.49476553%2C7.4947655%200%2C4.139453%203.35531273%2C7.494766%207.49476553%2C7.494766%204.1394529%2C0%207.4947659%2C-3.355313%207.4947659%2C-7.494766%200%2C-4.1394528%20-3.355313%2C-7.4947655%20-7.4947659%2C-7.4947655%20z%20M%2011.275177%2C6.11003%208.8524949%2C8.532713%2011.275177%2C10.955395%20v%201.3247%20H%209.9504775%20L%207.5277951%2C9.8574124%205.105112%2C12.280095%20H%203.7804123%20v%20-1.3247%20L%206.2030952%2C8.532713%203.7804123%2C6.11003%20V%204.7853302%20H%205.105112%20L%207.5277951%2C7.2080131%209.9504775%2C4.7853302%20H%2011.275177%20V%206.11003%20z%22%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20%20%20%20%20%20%20style%3D%22fill%3A%23800000%22%20%2F%3E%20%20%3C%2Fg%3E%3C%2Fsvg%3E'); 
	background-repeat: no-repeat; 
	width: 15px;
	height: 15px;
}

.modify-options {
	position: absolute;
	display: none;
	margin-left: 250px;
	margin-top: -25px;
	color: #800000;
}

.menu-list .modify-options {
	margin-left: 290px;
}

#settings li:hover .modify-options {
	display: block;
}

#settings span.edit {
	cursor: pointer;
}

#settings span.edit:hover {
	text-decoration: underline;
}

#cancelEdit {
	display: inline-block;
	margin-left: 10px;
}

#settings input[type="text"] {
	color: white;
	background-color: #919191;
	border: none;
}

.menu:first-child {
	margin-top: 0;
}

.menu {
	display: block;
	margin: 2px 0 0;
	padding: 10px 10px;
	font-weight: bold;
	background-color: #D1D1D1;
}

.menu:hover {
	background-color: #BBB;
	cursor: pointer;
}

#settings input[type="text"]:focus {
	background-color: #686868;
	box-shadow: none;
	border: none; /* #007095 */
}

#settings button.submit {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #335878;
	outline: none;
}

#settings button.submit:hover {
	background-color: #1C3245; /* 1E374C, 1A2C3B, 1C3245 */
}

.submit {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #335878;
	outline: none;
}

.submit:hover {
	background-color: #1C3245;
}

#confirmMessage {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#confirmMessage.active {
	opacity: 1;
	-webkit-transition: opacity 0.23s ease-in-out;
	transition: opacity 0.23s ease-in-out;
}

button.btn-selection {
	margin: 0;
	padding: 0.5rem 0 0.5625rem;
	width: 115px;
	color: #CBCBCB;
	background-color: #4F4F4F;
}

button.btn-selection:focus {
	outline: none;
}

#settings ::-webkit-input-placeholder {
   color: #C0C0C0;
}

#settings :-moz-placeholder { /* Firefox 18- */
   color: #C0C0C0;  
}

#settings ::-moz-placeholder {  /* Firefox 19+ */
   color: #C0C0C0;  
}

#settings :-ms-input-placeholder {  
   color: #C0C0C0;  
}

button.btn-selection:hover {
	color: #EEE;
	background-color: black;
}

button.btn-selection.chosen {
	color: #9DD8FF; /* 9DD8FF */
	background-color: #000;
}

#container {
	position: relative;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	background-color: #FFF;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
	margin-bottom: 1.5rem;
}

h2 {
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #CCC;
}

blockquote {
	position: relative;
	background-color: #E9E9E9;
	border: none;
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 1px;
	quotes: "\201c" "\201d";
}

blockquote p {
	font-size: 1.2rem;
}

blockquote:before {
	position: absolute;
	top: -40px;
	left: 5px;
	content: open-quote;
	font-size: 8rem;
	/*font-family: georgia;*/
	color: #BBB;
	z-index: 1;
}

blockquote:after {
	position: absolute;
	right: 5px;
	bottom: -40px;
	content: close-quote;
	font-size: 8rem;
	color: #BBB;
	z-index: 1;
}

blockquote * {
	position: relative;
	z-index: 2;
}

blockquote cite, blockquote .author {
	display: block;
	margin-top: 1rem;
	text-align: right;
	font-size: 1.2rem;
	font-style: italic;
}

blockquote cite:before, blockquote .author:before {
	margin-right: 5px;
	content: "—";
}

a[title="anchor"] {
	padding: 10px 12px;
	text-decoration: underline;
}
a[title="anchor"]:first-child {
	margin-left: -12px;
}

a[title="anchor"]:hover {
	background-color: inherit !important;
}

div.collection {
	padding: 15px;
}

.collection h3:before, .collection h4:before, .collection h5:before,
collection h3:before, collection h4:before, collection h5:before {
	content: "»";
	margin-right: 5px;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.57);
	z-index: 100;
}

.modal {
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -210px;
	padding: 30px 2%;
	width: 420px;
	height: auto;
	max-height: 540px;
	overflow: auto;
	color: #008cba;
	font-size: 1rem;
	line-height: 1.6;
	background-color: white;
	border: 2px solid #CCC;
	z-index: 110;
	-webkit-transition: all 0.17s ease-in-out;
	transition: all 0.17s ease-in-out;
	-webkit-transform: translateY(-445%);
	-moz-transform: translateY(-445%);
	transform: translateY(-445%);
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.modal.active {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

#footnotePopup:first-letter {
	font-weight: bold;
	/*font-size: 1.6rem;
	margin-right: 5px;
	line-height: 1;
	color: rgb(4, 83, 166);*/
}

.footnote-item {
	position: relative;
}

a#backToTop {
	position: fixed;
	color: white;
	display: block;
	padding: 9px;
	width: 50px;
	height: 50px;
	font-size: 2rem;
	background-color: black;
	bottom: 0;
	margin-left: 60px;
	z-index: 2;
	text-decoration: none;
	border-radius: 8px 8px 0 0;
	opacity: 0.35;
	-webkit-transition: all 0.17s ease-in-out;
	transition: all 0.17s ease-in-out;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

a#backToTop:hover {
	background-color: black !important;
	opacity: 0.8;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

h6 {
	font-weight: bold;
}

hr {
	border-color: #CCC;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center img {
	display: block;
	margin: 0 auto;
	padding: 10px;
	background-color: #e9e9e9;
}

a:hover {
	text-decoration: underline;
}

.reset {
	clear: both;
}

.cf:before,
.cf:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

.saveItem button {
	margin-bottom: 1rem;
}

#importExport {
	margin-bottom: 40px;
}

#importExport div {
	float: left;
	margin-top: 2px;
	width: 49.72%;
}

#importExport div:first-child {
	margin-right: 2px;
}

#settings .saveItem button.submit {
	display: block;
	float: right;
}

#settings #saveNav span {
	display: block;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}

.modal h3 .sub {
	display: block;
	font-size: 0.5em;
}

#highlightExportNav {
	margin-top: 10px;
}

.pagination-wrapper {
	height: 38px;
	margin-bottom: 20px;
}

.pagination {
	position: absolute;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 10px;
	width: 280px;
	background-color: #454545;
	border: 1px solid #DA9837;
	border-radius: 5px;
	cursor: pointer;
}
.pagination ul {
	float: left;
	display: none;
	margin-top: 10px;
	margin-left: -11px;
	margin-bottom: 0;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
	width: 290px;
	background-color: #454545;
	border-top: 1px dotted;
	border-color: #DA9837;
}
.pagination ul li {
	list-style: none;
	padding: 0;
}
.pagination, .pagination ul li a {
	color: #FAAE44;
	display: block;
}
.pagination ul li a {
	padding: 3px 0 3px 40px;
}
.pagination ul li a:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,0.3);
}
.pagination:before {
	display: block;
	content: "Pages";
	position: relative;
}
.pagination.active {
	padding-bottom: 0;
	border-radius: 5px;
}
.pagination.active ul {
	display: block;
	border-radius: 0 0 5px 5px;
}
.toggler {
	cursor: pointer;
}
.drawer {
	display: none;
	padding-bottom: 30px;
}
#prev, #next {
	position: absolute;
	top: 0;
	padding: 10px 10px;
}
#prev {
	right: 35px;
}
#next {
	right: 5px;
}
.greyout {
	opacity: 0.5;
}

/*========================================
	RESPONSIVE
=========================================*/

@media screen and (max-width: 1024px) {
	#container {
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 640px) {
	#settings+h6 {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
	nav {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		padding: 0;
	}
	nav a {
		float: none;
		padding: 15px 22px;
	}
	nav a:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 320px) {
	#container {
		padding-top: 20px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 40px;
	}
}








