/*=================================
	COLORS
==================================*/

/*============= dark =============*/
body.dark {
	background-color: #444;
}

body.dark #container {
	border-color: #CDCDCD;
	background-color: #EFEFEF;
}

body.dark nav {
	background-color: #C7C7C7;
}

body.dark nav a {
	color: #006B8F;
}

body.dark nav a.active {
	color: white;
	background-color: #8D8D8D;
}

body.dark nav a.active:hover {
	color: white;
}

body.dark nav a:hover {
	color: black;
	background-color: #AAA;
}

body.dark h2 {
	margin-bottom: 1.5rem;
	border-bottom-color: #9E9E9E;
}

body.dark blockquote {
	background-color: #D8D8D8;
}

body.dark blockquote p {
	color: #4E4E4E;
}

body.dark blockquote:before, 
body.dark blockquote:after {
	color: #ADADAD;
}

body.dark a[title="anchor"]:hover {
	background-color: inherit !important;
}

body.dark #footnotePopup {
	background-color: white;
	border-color: #626262;
}

body.dark hr {
	border-color: #9E9E9E;
}

body.dark .center img {
	background-color: #DBDBDB;
}

/*============= light =============*/
body.light {
	background-color: #DDD;
}

body.light #container {
	border-color: #CDCDCD;
}

body.light nav {
	background-color: #DFDFDF;
}

body.light nav a.active {
	background-color: #B4B4B4;
}

body.light nav a:hover {
	background-color: #CFCFCF;
}

body.light h2 {
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #CCC;
}

body.light #container {
	background-color: #FFF;
}

body.light blockquote {
	background-color: #E9E9E9;
}

body.light blockquote:before, 
body.light blockquote:after {
	color: #BBB;
}

body.light a[title="anchor"]:hover {
	background-color: inherit !important;
}

body.light #footnotePopup {
	background-color: white;
	border-color: #CCC;
}

body.light hr {
	border-color: #CCC;
}

body.light .center img {
	background-color: #e9e9e9;
}

/*============= minimal =============*/
body.minimal {
	background-color: #e1e1e1;
}

body.minimal #container {
	border-color: #CDCDCD;
}

body.minimal nav {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #DDD;
	background-color: none;
	background: none;
}

body.minimal nav a.active {
	color: black;
	background-color: none;
	background: none;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #DDD;
}

body.minimal nav a:hover {
	color: #66A3FF; /* C06817, 808080 */
	background-color: none;
	background: none;
}

body.minimal h2 {
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #CCC;
}

body.minimal #container {
	background-color: #FFF;
}

body.minimal blockquote {
	background-color: #F0F0F0;
}

body.minimal blockquote:before, 
body.minimal blockquote:after {
	color: #BBB;
}

body.minimal a[title="anchor"]:hover {
	color: #66A3FF;
	background-color: inherit !important;
}

body.minimal #footnotePopup {
	background-color: white;
	border-color: #CCC;
}

body.minimal hr {
	border-color: #CCC;
}

body.minimal .center img {
	background-color: #e9e9e9;
}

/*==================== end of colors */

body {
	background-color: #444;
}

body.minimal #container {
	margin-bottom: 0;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #CDCDCD;
	box-shadow: none;
	border-radius: 0;
}

nav {
	margin-left: -45px;
	margin-right: -45px;
	padding: 0px 45px;
	margin-bottom: 30px;
	background-color: #DFDFDF;
	*zoom: 1;
}

nav+nav {
	margin-top: -30px;
	border-top: 1px solid #969696;
}

nav a.active {
	color: white;
	background-color: #B4B4B4; /* 9A9A9A, B4B4B4 */
}

nav:before, nav:after {
	content: " ";
	display: table;
}

nav:after {
	clear: both;
}

nav a {
	display: block;
	float: left;
	padding: 15px;
	transition: background-color 0.15s ease-in-out;
}

nav a:first-child {
	margin-left: -15px;
}

nav a:hover {
	text-decoration: none;
	background-color: #CFCFCF;
}

#selector.toggle {
	position: absolute;
	top: 30px;
	right: 0;
	opacity: 0.2;
	cursor: pointer;
	transition: all 0.17s ease-in-out;
}

#selector.toggle:hover {
	opacity: 0.7;
}

.mark-settings-trigger {
	width: 40px;
	height: 33px;
}

#settings {
	position: absolute;
	top: 55px;
	right: -15px;
	padding: 10px;
	border: 2px solid #CCC;
	border-radius: 6px;
	width: auto;
	opacity: 0;
	background-color: white;
	transition: all 0.17s ease-in-out;
	/*-webkit-transform-origin: 0 20px;*/
	-webkit-transform: scale(1, 0);
}

#settings.active {
	opacity: 1;
	-webkit-transform: scale(1, 1);
}

#settings h4 {
	color: #666;
	border-bottom: 1px solid #666;
}

button.btn-selection {
	/*padding: ;*/
	margin: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5625rem;
	color: #CBCBCB;
	background-color: #4F4F4F;
}

button.btn-selection:focus {
	outline: none;
}

button.btn-selection:hover {
	color: #EEE;
	background-color: black;
}

button.btn-selection.chosen {
	color: #9DD8FF; /* 9DD8FF */
	background-color: #000;
}

#container {
	position: relative;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	background-color: #FFF;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
	margin-bottom: 1.5rem;
}

h2 {
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #CCC;
}

blockquote {
	position: relative;
	background-color: #E9E9E9;
	border: none;
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 1px;
	quotes: "\201c" "\201d";
}

blockquote p {
	font-size: 1.2rem;
}

blockquote:before {
	position: absolute;
	top: -40px;
	left: 5px;
	content: open-quote;
	font-size: 8rem;
	/*font-family: georgia;*/
	color: #BBB;
	z-index: 1;
}

blockquote:after {
	position: absolute;
	right: 5px;
	bottom: -40px;
	content: close-quote;
	font-size: 8rem;
	color: #BBB;
	z-index: 1;
}

blockquote * {
	position: relative;
	z-index: 2;
}

blockquote cite, blockquote .author {
	display: block;
	margin-top: 1rem;
	text-align: right;
	font-size: 1.2rem;
	font-style: italic;
}

blockquote cite:before, blockquote .author:before {
	margin-right: 5px;
	content: "—";
}

a[title="anchor"] {
	padding: 10px 12px;
	text-decoration: underline;
}
a[title="anchor"]:first-child {
	margin-left: -12px;
}

a[title="anchor"]:hover {
	background-color: inherit !important;
}

collection {
	display: block;
}

.collection h3:before, .collection h4:before, .collection h5:before,
collection h3:before, collection h4:before, collection h5:before {
	content: "»";
	margin-right: 5px;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.57);
	z-index: 100;
}

#footnotePopup {
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -210px;
	padding: 30px 2%;
	width: 420px;
	height: auto;
	max-height: 70%;
	overflow: auto;
	color: #008cba;
	font-size: 1rem;
	line-height: 1.6;
	background-color: white;
	border: 2px solid #CCC;
	z-index: 110;
	transition: all 0.17s ease-in-out;
	-webkit-transform: translateY(-700px);
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

#footnotePopup:first-letter {
	font-size: 1.6rem;
	margin-right: 5px;
	line-height: 1;
	color: rgb(4, 83, 166);
}

#footnotePopup.active {
	-webkit-transform: scale(1, 1);
}

.footnote-item {
	position: relative;
}

h6 {
	font-weight: bold;
}

hr {
	border-color: #CCC;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center img {
	display: block;
	margin: 0 auto;
	padding: 10px;
	background-color: #e9e9e9;
}

a:hover {
	text-decoration: underline;
}

.cf:before,
.cf:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}